
* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body  { 
    background-image: url(images/connectwork.png) !important;  
}

p, label {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

hr {
    margin-bottom: 20px;
}

h2 {
    color: #4aaaa5;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 5%;
    margin-top: 20px;
    font-weight: 800;
}

.img {
    margin-top:5px;
}

.footer {
    border-top: 8px solid #4aaaa5;
    text-align: center;
    background-color: #666666;
    margin-top: 50px;
    padding-top: 30px;
}
 
.container {
    background-color: #ffffff;
}

.main-content {
    background-color: #ffffff;
    border-color: #dddddd;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    background-color: #ffffff;
    padding: 0%;
    margin-bottom:50px;
}

#name {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 20px;
    margin: auto;
}

#p2 {
    padding-bottom: 20px;
}

.container-fluid { 
    padding-right: 0% !important; 
    padding-left: 0% !important;
}

.figure {
    margin-left: 15px;
    margin-right: 15px;
}

.figure-img {
    height:200px !important;
}

.figure-caption {
    width:200px;
    text-align: center;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 5px;
    position: relative;
    top: -40px;
}

.btn {
    margin-bottom: 80px;
}
